@use 'var';

#info{
    display: grid;
    grid-area: info;
    grid-template-rows: 180px auto;
    grid-gap: 70px;
    padding: 150px;
    padding-right: 125px;

    #five-days-weather{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 25px;
        .weather-box{
            display: grid;
            align-items: center;
            width: 100%;
            height: 180px;
            background-color: var.$bg-color-2;

            .weather-day{
                color: var.$font-color-1;
                font-weight: 100;
                font-size: var.$font-size-1;
                justify-self: center;
            }

            .five-days-weather-img{
                height: 60px;
                justify-self: center;
                align-self: flex-start;
            }

            .weather-temperature{
                .max-temperature,
                .min-temperature{
                    display: block;
                    float: left;
                    width: 50%;
                    text-align: center;
                    color: var.$font-color-1;
                    font-size: var.$font-size-1;
                    justify-self: flex-start;
                }

                .min-temperature{
                    color: var.$font-color-2;
                }
            }           
        }
    }

    #highlights{
        display: grid;
        grid-template-areas: 
        "title title"
        "wind-status humidity"
        "visibility air-presure";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 25px auto 160px;
        grid-gap: 50px;
        color: var.$font-color-1;

        #title{
            grid-area: title;
            font-size: 24px;
        }

        #wind-status,
        #humidity,
        #visibility,
        #air-pressure{
            display: grid;
            grid-template-rows: 50px auto;
            justify-content: center;
            align-items: center;
            background-color: var.$bg-color-2;
            position: relative;

            h3{
                font-size: var.$font-size-1;
                font-weight: 100;
                text-align: center;
                //align-self: flex-end;
            }

            .result{
                font-size: 64px;
                text-align: center;
                align-self: flex-start;

                .result-unit{
                    font-size: 32px;
                }
            }

            #wind-direction{
                justify-self: center;
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100px;
                #wind-direction-mark{
                    border-radius: var.$circle-radius;
                    background-color: rgba(255,255,255, 0.3);
                    padding: 5px;
                    transform: rotate(0deg);
                }
            }

            #humidity-bar,
            progress{
                position: absolute;
                bottom: 40px;
                justify-self: center;
                align-self: flex-start;
                width: 80%;
                height:10px;
                border-radius: var.$circle-radius;
            }

            progress::-webkit-progress-bar,
            progress::-moz-progress-bar{
                height: 10px;
                background: #FFEC65;
                border-radius: var.$circle-radius;
            }
        }

        #wind-status,
        #humidity{
            min-height: 200px;
            grid-template-rows: 50px auto 70px;
        }
    }

    #creator{
        color: var.$font-color-2;
        justify-self: center;

        a{
            text-decoration: none;
            color: var.$font-color-1;
        }
    }
}